.recipeListItem {
  padding: 15px 30px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border-radius: 0px 0px 4px 4px;
  background: white;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.recipeInfo {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.infoBlock {
  display: flex;
  align-items: center;
  gap: 4px;
}

.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.easy {
  composes: status;
  background-color: green;
}

.notEasy {
  composes: status;
  background-color: red;
}

.difficulty {
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.pieIcon {
  background-color: orange;
  fill: white;
}
