.button {
  padding: 8px 16px;
  margin: 0 16px 16px 0;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  background-color: orangered;
  cursor: pointer;
}
