.cardWrapper {
  border: 1px solid black;
  border-radius: 4px;
  list-style: none;

  > a {
    text-decoration: none;
  }
}

.productName {
  padding: 4px;
  margin-top: 8px;
  margin-bottom: 0;
  color: black;
}
