.inputWrapper {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.input {
  padding: 8px 32px 8px 8px;
  border-radius: 4px;
  font: inherit;
}

.icon {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 6px;
}
